<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HannaDemoLetionsTidAdoNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HannaDemoLetionsTidAdoNet.Properties.Settings.NorthwindConnection"
            connectionString="Data Source=localhost;Initial Catalog=Addressbook;Integrated Security=True;User ID=DESKTOP-E3CLIPS\Olivia;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <HannaDemoLetionsTidAdoNet.Properties.Settings>
            <setting name="asdasdsa" serializeAs="String">
                <value />
            </setting>
        </HannaDemoLetionsTidAdoNet.Properties.Settings>
    </userSettings>
</configuration>