<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
   
        <img src="images/nackademinLogo.png" />

        <div class="container navbar">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Start"></a></li>
                <li><a asp-controller="Home" asp-action="Utbildningar"></a></li>
                <li><a asp-controller="Home" asp-action="Kontakt"></a></li>
            </ul>
        </div>
    

        <div class="container body-content">
            @RenderBody()



            <footer>
                Nackademin
                Tomtebodavägen 3A
                171 65 Solna

                Tel: 08-466 60 00
            </footer>
        </div>
</body>
</html>
