footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

table {
    margin: 0 auto;
}

th, td {
    padding: 10px;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}
