@model Uppg2Validering.Models.Person

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<form asp-controller="Person" asp-action="Login" method="post">

    <label asp-for="Anvandarnamn"></label>
    <input asp-for="Anvandarnamn" />

    <br /><br />

    <label asp-for="Losenord"></label>
    <input asp-for="Losenord" />

    <br /><br />

    <label asp-for="VerifieraLosenord"></label>
    <input asp-for="VerifieraLosenord" />

    <br /><br />

    <input type="submit" value="Logga in" />

    <br /><br />

    <div asp-validation-summary="All">

    </div>

</form>