
<a asp-controller="Game" asp-action="Play" asp-route-id="0">Sten</a>
<a asp-controller="Game" asp-action="Play" asp-route-id="1">Sax</a>
<a asp-controller="Game" asp-action="Play" asp-route-id="2">Påse</a>
