@model uppg4HttpClient.Models.Person


<form asp-controller="Home" asp-action="GetSearchResult" method="post">
    <input type="text" name="search" placeholder="Search.." />
    <input type="text" name="search2" placeholder="Search.." />
    <button type="submit"></button>
</form>

