@model List<OliviaDemoASPNETAjax2.Models.Product>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

<div style="width: 300px; float: right; background-color: pink;">
    <table>

        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    <a asp-controller="Webshop"
                       asp-action="ViewProductDetails"
                       asp-route-id=@product.ID
                       data-ajax="true"
                       data-ajax-method="get"
                       data-ajax-mode="append"
                       data-ajax-update="#ProductDetails">Description of product</a>
                </td>
            </tr>
        }
    </table>
</div>

<div id="ProductDetails" style="width: 300px; float: right; background-color: yellow;">

</div>