/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [LoanId]
      ,[BorrowerId]
  FROM [Bibliotek].[dbo].[Loans]

  delete from Books
  delete from Loans

  select 

  create database Skola

  use UnicornTheSchool

  insert into Adress (Gata, Postnummer, Stad, Land) 
  values ('Gata 1', '11111', 'Stad 1', 'Land 1')

  select * from Adress

  update Adress set Gata = 'Gata 2', Postnummer = '22222'
  create table
   
  use Northwind

  select * from Orders ord
  inner join Customers cust
  on cust.CustomerID = ord.CustomerID
  where Ord.OrderID = 10643

  select Avg(p.UnitPrice) as [Average Price], MAX(p.UnitPrice), SUM(p.UnitPrice), MIN(p.UnitPrice)
  from Products p

