@model DemoASPNETRepetitionState_Layout.Models.Person

@{
    ViewData["Title"] = "TEst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-controller="State" asp-action="AddValue" method="post">

    <label asp-for="Name"></label>
    <input type="text" asp-for="Name" />

    <br /><br />

    <label asp-for="Email"></label>
    <input type="text" asp-for="Email" />

    <br /> <br />
    <input type="submit" value="Lägg till" />
    
</form>

