@model uppg6FormulärCV.ViewModels.PersonViewModel

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<h1>CV</h1>
<hr />

<form asp-controller="Cv" asp-action="SkapaFormulär" method="post">

    <label asp-for="MinPerson.Namn"></label>
    <input type="text" asp-for="MinPerson.Namn" />
    <span asp-validation-for="MinPerson.Namn"></span>
    <br /><br />

    <label asp-for="MinPerson.Email"></label>
    <input type="text" asp-for="MinPerson.Email" />
    <span asp-validation-for="MinPerson.Email"></span>
    <br /><br />

    <label asp-for="MinPerson.Gatuadress"></label>
    <input type="text" asp-for="MinPerson.Gatuadress" />
    <span asp-validation-for="MinPerson.Gatuadress"></span>
    <br /><br />

    <label asp-for="MinPerson.Postnr"></label>
    <input type="text" asp-for="MinPerson.Postnr" />
    <span asp-validation-for="MinPerson.Postnr"></span>
    <br /><br />

    <label asp-for="MinPerson.Ort"></label>
    <input type="text" asp-for="MinPerson.Ort" />
    <span asp-validation-for="MinPerson.Ort"></span>
    <br /><br />

    <label asp-for="MinPerson.Telefon"></label>
    <input type="text" asp-for="MinPerson.Telefon" />
    <span asp-validation-for="MinPerson.Telefon"></span>
    <br /><br />

    @* DROPDOWN LIST *@
    <select asp-for="MinPerson.Utbildningsbeskrivning" asp-items="@Model.UtbildningsBeskrivningar"></select>
    <br /><br />

    @* RADIO BUTTON *@
    @foreach (var region in Model.Regioner)
    {
        <input type="radio" asp-for="MinPerson.Region" value="@region.Plats" />
        @region.Plats
    }
    <span asp-validation-for="MinPerson.Region"></span>
    <br /><br />

    @* CHECKBOK *@
    @foreach (var körkort in Model.Körkortsstatusar)
    {
        <input type="checkbox" asp-for="MinPerson.Körkortsstatus" value="@körkort.Status" />
        @körkort.Status
    }

    <br /><br />

    @* LISTBOX *@
    <select multiple="multiple" asp-for="MinPerson.Hobby" asp-items="@Model.Hobbisar"></select>
    <br /><br />

    <input type="submit" value="Spara" />
</form>